# Natural language to SQL

**Run in [Google Colab](https://colab.research.google.com/) For GPU.**

This model have  Mistral as a base and it has been fine-tuned to excel in SQL code generation.

In [ ]:
from google.colab import userdata
userdata.get('HF_TOKEN')

In [ ]:
#Install the lastest versions of peft & transformers library recommended
#if you want to work with the most recent models
!pip install -q git+https://github.com/huggingface/peft.git
!pip install git+https://github.com/huggingface/accelerate.git
!pip install git+https://github.com/huggingface/transformers.git
!pip install bitsandbytes

In [ ]:
from transformers import AutoModelForCausalLM, AutoTokenizer, BitsAndBytesConfig
import torch
import accelerate

In [ ]:
model_name = "defog/sqlcoder-7b"

We need to create the Quantization configuration to load the Model.

It is a large model and I want it to fit in a 16GB GPU, I'm going to use a 4 bits quantization.

If you want to learn more about quantization, refer to this article: [QLoRA: Training a Large Language Model on a 16GB GPU.](https://medium.com/towards-artificial-intelligence/qlora-training-a-large-language-model-on-a-16gb-gpu-00ea965667c1)

You can try to use this model in a 8 bit quantizations and check in you see any improvements in the results.

In [ ]:
bnb_config = BitsAndBytesConfig(
  load_in_4bit=True,
  bnb_4bit_use_double_quant=True,
  bnb_4bit_quant_type="nf4",
  bnb_4bit_compute_dtype=torch.bfloat16
)

To load the model I pass to the AutoModelForCasualLM teh quantization configurations, and HuggingFace take care of all the hard work.

In [ ]:
foundation_model = AutoModelForCausalLM.from_pretrained(model_name,
                    quantization_config=bnb_config,
                    device_map='auto',
                    use_cache = True)

In [ ]:
tokenizer = AutoTokenizer.from_pretrained(model_name)
eos_token_id = tokenizer.convert_tokens_to_ids(["```"])[0]

This function wraps the call to *model.generate*

In [ ]:
#this function returns the outputs from the model received, and inputs.
def get_outputs(model, inputs, max_new_tokens=400):
    outputs = model.generate(
        input_ids=inputs["input_ids"],
        attention_mask=inputs["attention_mask"],
        num_return_sequences=1,
        eos_token_id=eos_token_id,
        pad_token_id=eos_token_id,
        max_new_tokens=max_new_tokens,
        do_sample=False,
        num_beams=5
    )
    return outputs

# Prompt without Shots.
In this first PROMPT we are going to give Instructions to the model and pass the structure of the Database.

The instructions are significantly different from those we are passing to GPT-3.5-Turbo. This model is really well fine-tuned, but it is smaller than GPT-3.5.

We need to be more clear with the instructions, as it does not have the same capacity to understand our orders as GPT-3.5.

In [ ]:
sp_nl2sql = """
    ### Instructions:
Your task is convert a question into a SQL query, given a SQL database schema.
Adhere to these rules:
- **Deliberately go through the question and database schema word by word** to appropriately answer the question

    ### Input
    Generate a SQL query that answers the question below.
    This query will run on a database whose schema is represented in this string:

    CREATE 3+ TABLES HERE

    ### Response
    Based on your instructions, here is the SQL query I have generated to answer the question
    `{question}`:
    ```sql3
    """

In [ ]:
sp_nl2sql = sp_nl2sql.format(question="YOUR QUERY HERE")
print(sp_nl2sql)

In [ ]:
input_sentences = tokenizer(sp_nl2sql, return_tensors="pt").to('cuda')
response = get_outputs(foundation_model, input_sentences, max_new_tokens=400)
SQL = tokenizer.batch_decode(response, skip_special_tokens=True)

In [ ]:
#Empty the cache in orde to do more calls without problems.
torch.cuda.empty_cache()

In [ ]:
print(SQL[0].split("```sql3")[-1].split("```")[0].split(";")[0].strip() + ";")

The SQL Order is correct.

#Prompt with shots OpenAI Style.
In this second prompt we are going to add some Shots with samples to see if our SQL style affects the model.

In [ ]:
sp_nl2sql2 = """
    ### Instructions:
Your task is convert a question into a SQL query, given a SQL database schema.
Adhere to these rules:
- **Deliberately go through the question and database schema word by word** to appropriately answer the question
- **Use the samples SQL In the ### Samples section to clearn more about teh Databases structure


    ### Input
    Generate a SQL query that answers the question below.
    This query will run on a database whose schema is represented in this string:

   YOUR TABLES HERE

    ### Response
    YOUR QERIES AND SAMPLE RESPONSES HERE

    `{question}`:
    ```sql3
    """

In [ ]:
sp_nl2sql2 = sp_nl2sql2.format(question="Return The name of the best paid employee")
(print(sp_nl2sql2))

In [ ]:
input_sentences = tokenizer(sp_nl2sql2, return_tensors="pt").to('cuda')
response = get_outputs(foundation_model, input_sentences, max_new_tokens=400)
SQL = tokenizer.batch_decode(response, skip_special_tokens=True)
torch.cuda.empty_cache()

In [ ]:
print(SQL[0].split("```sql3")[-1].split("```")[0].split(";")[0].strip() + ";")

The Order is really different from the one obtained with the first prompt.

The first difference is the format. But The SQL is realy more simple, at least it is my sensation.

#Prompt with Shots in Sample Style.

In this prompt, we will place the examples in a separate section, and in the instructions, we will instruct the model to pay attention to them in order to generate the SQL commands.

In [ ]:
sp_nl2sql3b = """
    ### Instructions:
Your task is convert a question into a SQL query, given a SQL database schema.
Adhere to these rules:
- **Deliberately go through the question and database schema word by word** to appropriately answer the question
- **Use the samples SQL In the ### Samples section to learn more about the Databases structure


    ### Input
    Generate a SQL query that answers the question below.
    This query will run on a database whose schema is represented in this string:

    YOUR TABLES HERE

    ### Samples

    YOUR SAMPLES HERE

    ### Response
    Based on your instructions, here is the SQL query I have generated to answer the question
    `{question}`:
    ```sql3
    """

In [ ]:
sp_nl2sql3 = sp_nl2sql3b.format(question="Return The name of the best paid employee")
print (sp_nl2sql3)

In [ ]:
input_sentences = tokenizer(sp_nl2sql3, return_tensors="pt").to('cuda')
response = get_outputs(foundation_model, input_sentences, max_new_tokens=400)
SQL = tokenizer.batch_decode(response, skip_special_tokens=True)
torch.cuda.empty_cache()

In [ ]:
print(SQL[0].split("```sql3")[-1].split("```")[0].split(";")[0].strip() + ";")

#Now the question in spanish.

In [ ]:
sp_nl2sql3 = sp_nl2sql3b.format(question="YOUR QUERY HERE")
print (sp_nl2sql3)

In [ ]:
input_sentences = tokenizer(sp_nl2sql3, return_tensors="pt").to('cuda')
response = get_outputs(foundation_model, input_sentences, max_new_tokens=400)
SQL = tokenizer.batch_decode(response, skip_special_tokens=True)
torch.cuda.empty_cache()

In [ ]:
print(SQL[0].split("```sql3")[-1].split("```")[0].split(";")[0].strip() + ";")

The generated SQL command is the same regardless of where we have placed the examples.

#Conclusions.

Let's see the three SQL's together.

* SELECT employees.name, MAX(salary.salary) AS max_salary FROM employees JOIN salary ON employees.ID_Usr = salary.ID_Usr GROUP BY employees.name ORDER BY max_salary DESC NULLS LAST LIMIT 1;

* SELECT e.name
    FROM employees e
    JOIN salary s ON e.ID_Usr = s.ID_usr
    WHERE s.salary = (SELECT MAX(salary) FROM salary);

* SELECT e.name
    FROM employees e
    JOIN salary s ON e.ID_Usr = s.ID_usr
    WHERE s.salary = (SELECT MAX(salary) FROM salary);

* Spanish Question: SELECT e.name
     FROM employees e
     JOIN salary s ON e.ID_Usr = s.ID_Usr
     WHERE s.salary = (SELECT MAX(salary) FROM salary)
     GROUP BY e.name
     ORDER BY COUNT(studies.ID_study) DESC
     LIMIT 1;


**The model has demonstrated that it is highly efficient in crafting SQL.** Additionally, it pays a lot of attention, perhaps too much, to the examples we provide. Clearly, these examples should be crafted by one of the best SQL programmers we have access to, though their use may not be essential.

On the other hand, although the model is clearly very proficient in SQL generation, during the creation of the notebook, I have encountered several issues because the commands need to be extremely clear. It doesn't handle typos well (which should not exist).

It appears to have some issues when it receives commands in Spanish. I assume this problem would be present in any language other than English. Therefore, since it's a tool that could be used by non-technical personnel, this should be considered in environments where English is not the primary language.

# Exercise
 - Complete the prompts similar to what we did in class.
     - Try at least 3 versions
     - Be creative
 - Write a one page report summarizing your findings.
     - Were there variations that didn't work well? i.e., where GPT either hallucinated or wrong
 - What did you learn?

In [ ]:
sp_nl2sql_v1 = """
### Instructions:
Your task is to convert a natural language question into a valid SQL query.
Be precise and return only SQL code between triple backticks.

### Input
Database schema:
CREATE TABLE employees (ID INT, name TEXT, department TEXT);
CREATE TABLE salaries (employee_id INT, salary NUMERIC);

Question: Return the name of the highest paid employee.

### Response
```sql3
"""

input_v1 = tokenizer(sp_nl2sql_v1, return_tensors="pt").to("cuda")
response_v1 = get_outputs(foundation_model, input_v1, max_new_tokens=400)
SQL_v1 = tokenizer.batch_decode(response_v1, skip_special_tokens=True)
torch.cuda.empty_cache()

print(SQL_v1[0].split("```sql3")[-1].split("```")[0].split(";")[0].strip() + ";")

In [ ]:
sp_nl2sql_v2 = """
### Instructions:
You are an expert data analyst. Convert the question below into a perfect SQL query.
Make sure to use correct JOINs, GROUP BY, and aggregation functions when necessary.

### Database schema:
CREATE TABLE employees (id INT, name TEXT, department TEXT);
CREATE TABLE salaries (emp_id INT, amount FLOAT);
CREATE TABLE departments (id INT, name TEXT);

### Question:
Show the department name that has the highest total salary among all employees.

### Response
```sql3
"""

input_v2 = tokenizer(sp_nl2sql_v2, return_tensors="pt").to("cuda")
response_v2 = get_outputs(foundation_model, input_v2, max_new_tokens=400)
SQL_v2 = tokenizer.batch_decode(response_v2, skip_special_tokens=True)
torch.cuda.empty_cache()

print(SQL_v2[0].split("```sql3")[-1].split("```")[0].split(";")[0].strip() + ";")

In [ ]:
sp_nl2sql_v3 = """
### Instructions:
You are to generate SQL queries using the given database schema. Follow the format used in the sample.

### Schema:
CREATE TABLE customers (id INT, name TEXT, city TEXT);
CREATE TABLE orders (order_id INT, customer_id INT, amount NUMERIC, order_date DATE);

### Samples:
Q: Get the total sales amount per city.
A:
```sql3
SELECT c.city, SUM(o.amount) AS total_sales
FROM customers c
JOIN orders o ON c.id = o.customer_id
GROUP BY c.city;

response

In [ ]:
"""

input_v3 = tokenizer(sp_nl2sql_v3, return_tensors="pt").to("cuda")
response_v3 = get_outputs(foundation_model, input_v3, max_new_tokens=400)
SQL_v3 = tokenizer.batch_decode(response_v3, skip_special_tokens=True)
torch.cuda.empty_cache()

print(SQL_v3[0].split("```sql3")[-1].split("```")[0].split(";")[0].strip() + ";")

🧩 Overview

The goal of this exercise was to explore how prompt design affects the performance of a fine-tuned model (SQLCoder-7B) for Natural Language to SQL translation.
I tested three versions of prompts with varying levels of structure and examples.

🧱 Prompt Variations
Version	Description	Output Quality
V1	Simple, direct prompt with clear schema and question	✅ Accurate, concise SQL, baseline format
V2	Conversational style with context (e.g., “You are an expert analyst”)	✅ More natural and human-like SQL, consistent JOINs
V3	Few-shot style with example query + new question	✅ Best performance overall; followed pattern perfectly
🧠 Observations

Clear schema descriptions significantly improved the model’s accuracy.
Ambiguity in column or table names led to hallucinations or mismatched joins.

Few-shot prompting (V3) gave the most consistent, production-ready SQL, proving that examples are a strong learning signal.

Natural-language style prompts (V2) made queries more readable but didn’t improve precision much over V1.

Language sensitivity: When questions were phrased in Spanish or grammatically complex English, the model occasionally produced partial or invalid SQL.

Quantization (4-bit) didn’t noticeably reduce output quality — generation was still fast and stable within a 16 GB GPU.

⚠️ Cases That Didn’t Work Well

When schema names were inconsistent (e.g., using emp instead of employee), the model hallucinated unknown tables.

Without explicit join keys or schema details, it sometimes guessed relationships incorrectly.

Very long prompts (>400 tokens) sometimes caused truncated SQL due to max token limit.

💡 Key Learnings

Prompt clarity is more important than model size — even a 7B model can outperform larger ones if well-prompted.

Few-shot learning is extremely powerful for style transfer (e.g., enforcing consistent SQL format).

The model is highly specialized in SQL but less multilingual — effective mostly in English.

Well-structured prompts with clear sections (### Instructions, ### Input, ### Response) dramatically reduce errors.

✅ Conclusion